<div class="w-10/12 mx-auto">

    <h2 class="text-main">Register Now</h2>
    <form action="" [formGroup]="registerForm" class="mt-6" (ngSubmit)="sendData()">
        @if (errorMsg) {
        <p>error: {{errorMsg}}</p>
        }

        <div class="my-3">
            <label for="name">Name:</label>
            <input type="text" id="name" class="w-full rounded-lg border-gray-500 mt-2" formControlName="name">
            @if (registerForm.get('name')?.errors && registerForm.get('name')?.touched) {
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                @if (registerForm.get('name')?.getError('required')) {
                <p>Name is required</p>
                }
                @else if (registerForm.get('name')?.getError('minlength')) {
                <p>min length : 3</p>
                }
                @else if (registerForm.get('name')?.getError('maxlength')) {
                <p>max length : 20</p>
                }

            </div>
            }
        </div>
        <div class="my-3">
            <label for="email">Email:</label>
            <input type="email" id="email" class="w-full rounded-lg border-gray-500 mt-2" formControlName="email">
            @if (registerForm.get('email')?.errors && registerForm.get('email')?.touched) {
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                @if (registerForm.get('email')?.getError('required')) {
                <p>Email is required</p>
                }
                @else if (registerForm.get('email')?.getError('email')) {
                <p>Invalid email</p>
                }


            </div>
            }
        </div>
        <div class="my-3">
            <label for="phone">Phone:</label>
            <input type="tel" id="phone" class="w-full rounded-lg border-gray-500 mt-2" formControlName="phone">
            @if (registerForm.get('phone')?.errors && registerForm.get('phone')?.touched) {
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                @if (registerForm.get('phone')?.getError('required')) {
                <p>Phone is required</p>
                }
                @else if (registerForm.get('phone')?.getError('pattern')) {
                <p>Invalid phone</p>
                }


            </div>
            }
        </div>
        <div class="my-3">
            <label for="password">Password:</label>
            <input type="password" id="password" class="w-full rounded-lg border-gray-500 mt-2"
                formControlName="password">
            @if (registerForm.get('password')?.errors && registerForm.get('password')?.touched) {
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                @if (registerForm.get('password')?.getError('required')) {
                <p>password is required</p>
                }
                @else if (registerForm.get('password')?.getError('pattern')) {
                <p>Invalid password</p>
                }


            </div>
            }
        </div>
        <div class="my-3">
            <label for="rePassword">rePassword:</label>
            <input type="password" id="rePassword" class="w-full rounded-lg border-gray-500 mt-2"
                formControlName="rePassword">
            @if (registerForm.get('rePassword')?.errors && registerForm.get('rePassword')?.touched) {
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                @if (registerForm.get('rePassword')?.getError('required')) {
                <p>rePassword is required</p>
                }
                @else if (registerForm.get('rePassword')?.getError('pattern')) {
                <p>Invalid rePassword</p>
                }
            </div>
            }
            @if (registerForm.errors) {
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                <p>No Match</p>
            </div>
            }
        </div>
        <button [disabled]="registerForm.invalid" class="btn-main block ms-auto">Register
            @if (isLogin) {
            <i class="fa-solid fa-spin fa-spinner"></i>
            }
        </button>
    </form>

</div>