@if (!isCodeForm && !isResetForm) {
<div class="w-3/4 mx-auto">
    <h3>send your email</h3>
    <form [formGroup]="emailForm" (ngSubmit)="sendEmail()">
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" class="w-full" formControlName="email">
        </div>
        <button [disabled]="emailForm.invalid" class="btn-main my-2">Submit

            @if (isLoading) {
            <i class="fa fa-spin fa-spinner"></i>
            }
        </button>
    </form>
</div>
}

@if (isCodeForm) {
<div class="w-3/4 mx-auto">
    <h3>send your code</h3>
    <form [formGroup]="codeForm" (ngSubmit)="sendCode()">
        <div>
            <label for="code">code</label>
            <input type="text" id="code" class="w-full" formControlName="resetCode">
        </div>
        <button class="btn-main my-2">Submit

            @if (isLoading) {
            <i class="fa fa-spin fa-spinner"></i>
            }
        </button>
    </form>
</div>
}

@if (isResetForm) {
<div class="w-3/4 mx-auto">
    <h3>reset your password</h3>
    <form [formGroup]="resetDataForm" (ngSubmit)="resetData()">
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" class="w-full" formControlName="email">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" class="w-full" formControlName="newPassword">
        </div>
        <button class="btn-main my-2">Submit

            @if (isLoading) {
            <i class="fa fa-spin fa-spinner"></i>
            }
        </button>
    </form>
</div>
}